page-orderplanmonth {

.col{
	flex: 0 0 50%;
	max-width: 50%;
	padding:2px 5px;
	text-align:center;
}
.center{
	text-align: center;
}
.my-icon:before,
.my-icon{
	width: 70px;
	height: 70px;
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
	color: #00ccff;
	display:block;	
}
.color{
	color: #ffffff;
}
.my-icon2:before,
.my-icon2{
	font-size: 25px !important;
	align-content: center;
	color: #ffffff;
	display:block !important;	
}

.tengah{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.font-item{
	font-family: "Fujitsu Sans Medium";
}

}
