page-searchproject {
.my-icon:before,
.my-icon{
	width: 70px;
	height: 70px;
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
	color: #00ccff;
	display:block;	
}
.my-icon2{
	width: 30%;
	align-content: center;
	color: #ffffff;
	font-size: 30px;	
}
.nav-center{
	display:block;
	margin-right: auto;
	margin-left: auto;
}
.font-item{
	font-family: "Fujitsu Sans Medium";
	font-size: 14px;
	background-color: #DCDCDC;
}
.color{
	color: #000000;
}
.windows .col{
	flex: 50%;
	padding: 2%;
}
.windows .class2-2 {
  padding: 5%;
  border-radius: 2%;
  background-color: #ffffff;
  box-shadow: 1px 2px #BEBEBE; 
  text-align:center;
}
}
